name: Yearly Issue Metrics

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 1 * *"

permissions:
  contents: write

jobs:
  build:
    name: Issue Metrics
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set year range for historical data
        shell: bash
        run: |
          start_date="2022-01-01"
          # Calculate the last day of the previous month
          last_day=$(date -d "$(date -d 'last month' +%Y-%m-01) +1 month -1 day" +%Y-%m-%d)
          echo "YEAR_RANGE=$start_date..$last_day" >> $GITHUB_ENV
          echo "Using year range: $start_date to $last_day"
      - name: Restore cache for historical metrics
        uses: actions/cache@v3
        with:
          path: historical_metrics.json
          key: historical-metrics
      - name: Run issue-metrics for holoviews
        id: issue-metrics
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SEARCH_QUERY: 'repo:holoviz/holoviews is:issue created:${{ env.YEAR_RANGE }} -label:"duplicate"'
          HIDE_TIME_TO_ANSWER: "true"
          DRAFT_PR_TRACKING: "true"
          HIDE_CREATED_AT: "false"
          HIDE_LABEL_METRICS: "true"
      - name: Save JSON output to file
        run: |
          cat <<'EOF' > data/holoviews_metrics.json
          ${{ steps.issue-metrics.outputs.metrics }}
          EOF
      - name: Upload JSON as artifact
        uses: actions/upload-artifact@v4
        with:
          name: holoviews-metrics-json
          path: data/holoviews_metrics.json
      - name: Run issue-metrics for hvplot
        id: issue-metrics-hvplot
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SEARCH_QUERY: 'repo:holoviz/hvplot is:issue created:${{ env.YEAR_RANGE }} -label:"duplicate"'
          HIDE_TIME_TO_ANSWER: "true"
          DRAFT_PR_TRACKING: "true"
          HIDE_CREATED_AT: "false"
          HIDE_LABEL_METRICS: "true"
      - name: Save hvplot JSON output
        run: |
          cat <<'EOF' > data/hvplot_metrics.json
          ${{ steps.issue-metrics-hvplot.outputs.metrics }}
          EOF
      - name: Upload hvplot artifact
        uses: actions/upload-artifact@v4
        with:
          name: hvplot-metrics-json
          path: data/hvplot_metrics.json
      - name: Run issue-metrics for panel
        id: issue-metrics-panel
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SEARCH_QUERY: 'repo:holoviz/panel is:issue created:${{ env.YEAR_RANGE }} -label:"duplicate"'
          HIDE_TIME_TO_ANSWER: "true"
          DRAFT_PR_TRACKING: "true"
          HIDE_CREATED_AT: "false"
          HIDE_LABEL_METRICS: "true"
      - name: Save panel JSON output
        run: |
          cat <<'EOF' > data/panel_metrics.json
          ${{ steps.issue-metrics-panel.outputs.metrics }}
          EOF
      - name: Upload panel artifact
        uses: actions/upload-artifact@v4
        with:
          name: panel-metrics-json
          path: data/panel_metrics.json
      - name: Run issue-metrics for datashader
        id: issue-metrics-datashader
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SEARCH_QUERY: 'repo:holoviz/datashader is:issue created:${{ env.YEAR_RANGE }} -label:"duplicate"'
          HIDE_TIME_TO_ANSWER: "true"
          DRAFT_PR_TRACKING: "true"
          HIDE_CREATED_AT: "false"
          HIDE_LABEL_METRICS: "true"
      - name: Save datashader JSON output
        run: |
          cat <<'EOF' > data/datashader_metrics.json
          ${{ steps.issue-metrics-datashader.outputs.metrics }}
          EOF
      - name: Upload datashader artifact
        uses: actions/upload-artifact@v4
        with:
          name: datashader-metrics-json
          path: data/datashader_metrics.json
      - name: Run issue-metrics for panel-splitjs
        id: issue-metrics-panel-splitjs
        uses: github/issue-metrics@v3
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          SEARCH_QUERY: 'repo:panel-extensions/panel-splitjs is:issue created:${{ env.YEAR_RANGE }} -label:"duplicate"'
          HIDE_TIME_TO_ANSWER: "true"
          DRAFT_PR_TRACKING: "true"
          HIDE_CREATED_AT: "false"
          HIDE_LABEL_METRICS: "true"
      - name: Save panel-splitjs JSON output
        run: |
          cat <<'EOF' > data/panel-splitjs_metrics.json
          ${{ steps.issue-metrics-panel-splitjs.outputs.metrics }}
          EOF
      - name: Upload panel-splitjs artifact
        uses: actions/upload-artifact@v4
        with:
          name: panel-splitjs-metrics-json
          path: data/panel-splitjs_metrics.json
  download-and-deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Download holoviews artifact
        uses: actions/download-artifact@v4
        with:
          name: holoviews-metrics-json
          path: data/
      - name: Download hvplot artifact
        uses: actions/download-artifact@v4
        with:
          name: hvplot-metrics-json
          path: data/
      - name: Download panel artifact
        uses: actions/download-artifact@v4
        with:
          name: panel-metrics-json
          path: data/
      - name: Download datashader artifact
        uses: actions/download-artifact@v4
        with:
          name: datashader-metrics-json
          path: data/
      - name: Download panel-splitjs artifact
        uses: actions/download-artifact@v4
        with:
          name: panel-splitjs-metrics-json
          path: data/
      - name: Set up Conda environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: environment.yml
          auto-activate-base: false
          activate-environment: metrics
      - name: Update and convert all metrics data
        run: |
          source "$(conda info --base)/etc/profile.d/conda.sh"
          conda activate metrics
          export GH_TOKEN=${{ secrets.GH_TOKEN }}
          python scripts/process_repos.py
      - name: Commit metrics files
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Update issue metrics files"
          add: "data/*.json data/*.parq data/*.csv"
